<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
    <h1>Регистрация</h1>
    <form method="POST">
        <input type="text" name="username" placeholder="Потребителско име" required>
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Парола" required>
        <button type="submit">Регистрация</button>
    </form>


    <p>Вече имаш акаунт? <a href="{{ url_for('login') }}">Вход</a></p>
</body>
</html>
